.homePage {
   padding: 30px;
   background-image: url('/Users/nicklona/trading-blog/public/images/5m.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-blend-mode: multiply;
  z-index: -1000;
  position: relative;
}

.posts {
    z-index: 1000;
    position: absolute;
}

.post {
    margin: 20px;
    padding: 20px;
    box-shadow: 2px 2px 2px 2px rgb(97, 97, 97);
    border-radius: 10px;
}

.postHeader {
    display: flex;
    justify-content: space-between;
}

.postTextContainer {
    padding: 15px 0;
}

.deletePostButton {
    padding: 3px;
}